body{
    margin: 0;
    padding: 0;
    background: #000;
}

.logo2{
    position: relative;
    padding: 0;
    margin: 0;
    width:100%;
    height: 250px;
    background: linear-gradient(0deg,gray,#262626);
}

.logo2:before,
.logo2:after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background:linear-gradient(45deg,#0000ff,gray,#174978d2, white, black);
    width:calc( 100% + 4px);
    height: calc( 100% + 4px);
    background-size: 400%;
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position:300% 0;
    }

    100%{
        background-position:0 0;
    }
}

.logo2:after{
    filter: blur(20px);
}

#logo-squad{
    position: absolute;
    width: 150px;
    height: 150px;
    margin: -230px 0;
    left: 10%;
    border-radius: 20px;
    border: 5px solid;
    border-color: gray;  
    box-shadow: 10px 10px 10px #000000;    
}

.voltar-inicio{
    position: fixed;
    right: 0;
    top: 85%;
    width: 70px;
    margin-top: -2.5em;
    margin-right: 0.5rem;
    padding: 1rem;
    background: gray;
    border-radius: 50px;
    border: 5px solid;
    border-color: black;    
}

.voltar-inicio:hover{
    border-color: #174978d2;
}

.voltar-inicio:active{
    border-color: gray;
}

nav {
    position: absolute;
    top: 110px;
    right: 20px;
}

nav li {
   display: inline;
   margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-family: initial;
    color: white;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: blue;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 23px;
    box-shadow: 5px 5px 5px white;   
}

/**RODAPE**/
footer{
    display: flex;
    background-color: gray;
    font-family: 'Ubuntu', sans-serif;
    flex-direction: column;
    align-items: center;
    margin-top: 1060px;
}

footer p{
    margin-bottom: 10px;
}

.Copyright{
    color: #000000;
    font-size: 13px;
    margin: 20px;
}